@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.noTasks {
  margin-top: 2em;
  color: #4a47a3;
  font-size: 1.2rem;
  padding: 1em 0.5em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  background: white;
}

.loading {
  font-size: 1rem;
  border-radius: 10px;
  background: rgb(47, 97, 245);
  padding: 1em 2em;
  width: 20%;
  color: white;
  font-weight: 700;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 1em 0;
}
